.contacts-section {
    position: relative;
    background: url("../img/map/map.png") center no-repeat;
    background-size: cover;

    @include tablets {
        background: url("../img/map/map768.png") center no-repeat;
        background-size: cover;
    }

    @include phones {
        background: url("../img/map/map480.png") top center no-repeat;
        background-size: contain;
        max-height: 70vh;
    }
}