.social {
    display: flex;
    align-items: center;
    padding-right: rem(80px);

    @include phones {
        padding-right: 0;
    }

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
        padding-right: rem(10px);

        &_vkonta .social__link {
            content: url("../img/icons/vk.svg");
        }

        &_fsbook .social__link {
            content: url("../img/icons/fb.svg");
        }

        &_instag .social__link {
            content: url("../img/icons/insta.svg");
        }

        &_telegr .social__link {
            content: url("../img/icons/telegr.svg");
        }
    }

    &__link {
        position: relative;
        width: rem(30px);
        height: rem(30px);
        border-radius: 50%;
    }
}