.benefits-section {
    position: relative;

    &::after {
        position: absolute;
        content: url("../img/dekor/dekor_02.svg");
        left: 10%;
        bottom: -3%;
        z-index: 10;
    }
}