.feedback-section {
    position: relative;

    &::after {
        position: absolute;
        content: url("../img/dekor/dekor_03.svg");
        left: 10%;
        bottom: rem(-23px);
    }
}