.product {
    display: flex;
    flex-direction: column;
    background: url("../img/slider/product01.png") left center no-repeat;
    padding-left: 56%;

    &__popup-menu {
        margin-bottom: rem(30px);
    }

    &__title {
        font-size: rem(36px);
        text-transform: uppercase;
        font-weight: 700;
        color: $black;
        line-height: 1.1;
        padding-bottom: rem(24px);
    }

    &__description {
        padding: 0 15% 5% 0;
    }

    &__specifications {
        display: flex;
    }

    &__order {
        display: flex;
    }

    @include tablets {
        background: url("../img/slider/product01_768.png") top center no-repeat;
        padding-left: 0;
        padding-top: 50%;

        &__title {
            font-size: rem(28px);
            text-align: center;
            padding-bottom: rem(14px);
        }

        &__description {
            font-size: rem(16px);
            text-align: center;
            padding: 0 6% 3% 6%;
        }

        &__specifications {
            display: flex;
            justify-content: center;
        }

        &__order {
            display: flex;
            justify-content: center;
        }
    }

    @include phones {
        padding-top: 100%;

        &__title {
            font-size: rem(30px);
            padding: 0 5% 2% 5%;
        }

    }
}