.purchase {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__price {
        font-size: rem(36px);
        color: $black;
        padding-right: 5%;
    }

    @include phones {
        &__price {
            font-size: rem(32px);
            color: $black;
            padding-right: 5%;
        }
    }
}

