.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: rem(48px);
        font-weight: 700;
        padding-bottom: rem(10px);
        text-align: center;
        text-transform: uppercase;
        color: $black;

        @include tablets {
            padding-bottom: rem(24px);
        }

        @include phones {
            font-size: rem(32px);
        }
    }
}