.slider {
    display: flex;
    width: 920px;
    overflow: hidden;
    margin: 0 5px;

    @include tablets {
        display: flex;
        flex-direction: column;

        &__img {
            padding: 0;
        }
    }
}