.specs {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: rem(90px);
        padding-bottom: rem(25px);
        &:last-child {
            margin-right: 0;
        }
    }

    &__value {
        font-size: rem(18px);
        font-weight: 700;
        color: $black;
    }
}
