.team {
    display: flex;
    justify-content: space-between;

    &__item {
        text-align: center;
        position: relative;
        min-width: rem(220px);
        margin-right: rem(20px);
        cursor: pointer;
    }

    &__member {
        margin-bottom: rem(25px);
    }

    &__title {
        display: inline-flex;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        font-size: rem(18px);
        font-weight: 700;
    }

    &__title-arrow {
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
        width: 9px;
        height: 9px;
        background-image: url('/img/team/item_down.svg');
        background-size: cover;
        transition: .3s;
    }

    &__title-arrow-active {
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
        width: 9px;
        height: 9px;
        background-image: url('/img/team/item_up.svg');
        background-size: cover;
        transition: .3s;
    }

    &_desktop &__content {
        position: absolute;
        top: 100%;
    }
    
    &__content {
        overflow: hidden;
        transition: .3s;
        height: 0;
    }

    &__job {
        color: #000;
    }

    &_tablets {
        display: none;
    }

    @include tablets {

        &_tablets {
            align-items: center;
        }

        &__content {
            margin-bottom: rem(13px);
        }

        &_desktop {
            display: none;
        }

        &_tablets {
            display: flex;
            flex-direction: column;
        }

        &__item {
            max-width: rem(222px);
            position: relative;
            margin: 0;
        }
        &__title {
            font-size: rem(22px);
            margin-bottom: rem(22px);
        }
        
        &__job {
            color: #000;
            font-size: rem(18px);
            font-weight: 700;
        }


        &_tablets &__content {
            // position: absolute;
            top: 100%;
        }
    }
}
