.team-mobile {
   
    display: none;

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
